* {
  box-sizing: border-box;
  font-family: "helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: auto;

}

h1 {
  font-size: 2rem;

}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size:  1.5rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 1.10rem;
}

html, body {
margin: 0 auto;
display: flex;
justify-content: center;
}

header {
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  opacity: 1;
  display:  flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin-left: 10px;
  height: 50px;
  width: auto;
} 

header a {
  text-decoration: underline;
  margin-right: 10px;
}

nav{
  display: inline-block;
}

main {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  justify-items: center ;

}

/*Rule for the Mission Section*/
#mission {
  height: 700px;
  width: 1200px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: pink;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#mission h2, #mission h4 {
  margin: 0;
  padding: 0;
}

 #mission .container {
  background-color: black;
  height: 70px;
  margin: 0;

 }

/*Rule for the Featured Tea section*/
#featured-tea {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;

}

#featured-tea img {
  margin-bottom: 10px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

#featured-tea .container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}


/*Rule for the Locations section*/
#locations{
  height: 500px;
  width:  1200px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: pink;
  margin-left:  2.75%;
}

#locations h2 {
  background-color: transparent;
}

/*trying to make the three white location boxes be black, but their container transparent*/
#locations .container {
  background-color: transparent;
}

.container .location {
  display: inline-block;
}

.location {
  width: 300px;
  height: 300px;
  margin: 15px 20px 0 20px;
  opacity: 1;
  background-color: black;

}

#contact {
  height: 200px;
  margin-bottom: 20px;
}

footer {
  float: left;
  margin: 30px 0 0 -170px;
}